/* page styling */
body{
    margin: 20 0 0 0;
    background-color: beige;
}
.container{
    display: flex;
    flex-direction: column;
}
/* row styling */
.row{
    display: flex;
    justify-content: center;
    height: 50px;
}
/* col styling */
.col{
    background-color: darkgray;
    border: 0.01px solid black;
    width: 50px;

}