/* page styling */
body{
    margin: 20 0 0 0;
    background-color: beige;
}
.container{
    display: flex;
    flex-direction: column;
}
.Controls{
    justify-content: center;
    display: flex;
    margin-bottom: 10px;
}
/* row styling */
.row{
    display: flex;
    justify-content: center;
}
/* col styling */
.col{
    background-color: darkgray;
    border: 0.01px solid black;
    transition: background-color 0.3s ease 0.4s;
}
.hover{
    transition: background-color 0.3s ease;
    background-color: aqua;
}